<a href="https://colab.research.google.com/github/Prabhjot46/Gaana.com-Data-Analysis/blob/main/Gaana_com_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
!git clone https://github.com/Prabhjot46/Gaana.com-Data-Analysis

Cloning into 'Gaana.com-Data-Analysis'...
remote: Enumerating objects: 6, done.
remote: Counting objects: 100% (6/6), done.
remote: Compressing objects: 100% (4/4), done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (6/6), done.

In [5]:
import pandas as pd
df = pd.read_csv('Gaana.com-Data-Analysis/gaanasongs.csv')

In [6]:
df

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,05:00,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,06:26,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,03:41,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,04:26,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,05:39,/hazaron-khwahishen-aisi-1,Urdu
...,...,...,...,...,...,...
41350,Chaaridike Paaper Andhar (Manush Janam Diye Bi...,Kishore Kumar,/artist/kishore-kumar,03:23,/chaaridike-paaper-andhar-manush-janam-diye-bidhi,Bengali
41351,Ei Ki Go Shesh Daan,Feroza Begum,/artist/feroza-begum,03:56,/ei-kigo-sesh-daan,Bengali
41352,Ei Je Bangla,Sandhya Mukherjee|Hemant Kumar,/artist/sandhya-mukherjee|/artist/hemanta-mukh...,07:36,/ei-je-bangla,Bengali
41353,Jatone Hridaye Rekho,Ajoy Chakrabarty,/artist/ajoy-chakrabarty,04:29,/jatone-hridaye-rekho,Bengali
41354,Tomar Je Oi Haater Mala,Asha Bhosle,/artist/asha-bhosle-1,03:22,/tomar-je-oi-haater-mala,Bengali

1.Checking Null Values

In [7]:
df.isnull().sum()

name         0
singer       0
singer_id    0
duration     0
link         0
language     0
dtype: int64

2. Data Analysis

2.1 Changing the duration in sec

In [8]:
duration_lst = []
for duration in df['duration']:
  m = int(duration.split(':')[0])
  s = int(duration.split(':')[1])
  sec = (m*60) + s

  duration_lst.append(sec)

df['duration'] = duration_lst
df.head()

,name,singer,singer_id,duration,link,language
0,Dil - E - Nadan Tujhe,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,300,/dil-e-nadan-tujhe-3,Urdu
1,Agar Hum Kahen Aur Woh Muskara De,Chitra Singh|Jagjit Singh,/artist/chitra-singh|/artist/jagjeet-singh-1,386,/agar-hum-kahen-aur-woh-muskura-den,Urdu
2,Unke Dekhe Se,Jagjit Singh,/artist/jagjeet-singh-1,221,/unke-dekhe-se,Urdu
3,Yeh Na Thi Hamari Qismat - Chitra Singh,Chitra Singh,/artist/chitra-singh,266,/yeh-na-thi-hamari-qismat-2,Urdu
4,Hazaron Khwahishen Aisi,Jagjit Singh,/artist/jagjeet-singh-1,339,/hazaron-khwahishen-aisi-1,Urdu

3.Data Analysis 

3.1 Average duration of songs throughout the dataset

In [9]:
print("The Average duration of songs are ", int (df['duration'].sum()/len(df['duration'])),'seconds')

The Average duration of songs are  295 seconds

3.2 How many different languages of songs are in dataset

In [12]:
print("Number of different languages songs in dataset is " ,len(set(df['language'])))

Number of different languages songs in dataset is  16

3.3 What are all these different Languages?

In [13]:
for i in set(df['language']):
  print(i)

Rajasthani
Punjabi
Assamese
Urdu
Haryanvi
Old
Tamil
Malayalam
Hindi
Kannada
Marathi
Gujarati
Telugu
Odia
Bengali
Bhojpuri

3.4 How many Punjabi songs are there?

In [14]:
c=0
for i in df['language']:
  if (i == 'Punjabi'):
    c+=1

print("There are ",c," punjabi songs in dataset")

There are  3818  punjabi songs in dataset